target/
lib_managed/
project/boot/
local.properties
\#*
.\#*
*~
.target/
project/user.sbt
.classpath
.project
.history
.settings/
.idea/
.idea_modules/
*.iml

# Examples
examples/ajax/twitter_.js
examples/birds/Bird_.js
examples/canvas/koch_.html
examples/d3/d3_.html

# Tests
~test-out/*.check
