.mouse{
  position: absolute;
  background-repeat: no-repeat;
  height: 22px;
  min-width: 15px;
  z-index: 100;
}

.mouse{
  /* background-image: url('cursor.png'); */
}

span.chat{
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  background-color:#222;
  box-shadow:0 1px 0 #fff;
  color:#fff;
  font-size: 12px;
  margin: 0 0 0 15px;
  display: block;
  opacity: 0.75;
  font-size: 12px;
  line-height: 16px;
  padding: 2px 5px;
  float:right;
}

span.mouse img{
  padding: 0 5px;
  float:left;
  margin: 0 -15px 0 15px;
  width: 20px;
  height: 20px;
}
